:root {
  --first-color: #ffffff;
  --second-color: #1c5d99;
  --third-color: #639fab;
  --first-accent: #222222;
  --second-accent: #fe6d73;

  --heading-font: "Arima", sans-serif, Arial;
  --paragraph-font: "Lato:ital", Helvetica, sans-serif;
}

@media screen and (min-width: 800px) {
  body {
    margin: 0 10%;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  #logo {
    margin: 20px;
    justify-self: end;
    height: 70%;
  }

  h1 {
    justify-self: center;
    margin-right: 40px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--third-color);
  }

  nav a {
    width: 100%;
    font-size: large;
  }

  #menu {
    display: none;
  }

  #cards-section {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  #sections {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
  }

  .card {
    margin: 10px;
  }

  #organic {
    grid-column: 1/2;
    grid-row: 1/2;
    order: 1;
  }

  #translator {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #alajuela-card {
    grid-column: 2/4;
    grid-row: 1/3;
    border: none;
    margin: 0;
  }

  #alajuela {
    height: 100%;
  }

  #city-info {
    margin-right: 15px;
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-rows: 15% 85%;
    padding: 10px;
  }

  #city-info img {
    height: 40%;
    width: 40%;
    justify-self: center;
    margin-bottom: 60px;
  }

  #weather {
    margin-left: 15px;
  }

  footer {
    width: 100%;
    padding: 10px;
  }

  /*Start of the Discovery website */

  #data-view {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: auto;
    grid-template-areas: "sidebar main";
  }

  .sidebar-section {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
  }

  .sidebar-section:nth-of-type(4) {
    height: 10%;
  }
}
